aiofiles==0.6.0; python_version >= "3.5"
aiohttp-swagger==1.0.15; python_version >= "3.5"
aiohttp==3.7.2; python_version >= "3.6"
appnope==0.1.2; platform_system == "Darwin" and python_version >= "3.7" and sys_platform == "darwin"
argon2-cffi==20.1.0; python_version >= "3.6"
async-generator==1.10; python_full_version >= "3.6.1" and python_version >= "3.6"
async-lru==1.0.2; python_version >= "3.5"
async-timeout==3.0.1; python_full_version >= "3.5.3" and python_version >= "3.6"
asyncssh==2.5.0; python_version >= "3.6"
attrs==20.3.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
backcall==0.2.0; python_version >= "3.7"
bcrypt==3.2.0; python_version >= "3.6"
bleach==3.3.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
certifi==2020.12.5; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
cffi==1.14.5; implementation_name == "pypy" and python_version >= "3.6" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.6.0") and (python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.4.0")
chardet==3.0.4; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
colorama==0.4.4; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
cryptography==3.3.1; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
cycler==0.10.0; python_version >= "3.7"
decorator==4.4.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.2.0" and python_version >= "3.7"
defusedxml==0.7.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
dill==0.3.3; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.1.0" and python_version >= "3.5"
distro==1.5.0; python_version >= "3.5"
entrypoints==0.3; python_version >= "3.6"
future==0.18.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.3.0"
genie.libs.clean==21.3; python_version >= "3.5"
genie.libs.conf==21.3; python_version >= "3.5"
genie.libs.filetransferutils==21.3; python_version >= "3.5"
genie.libs.health==21.3; python_version >= "3.5"
genie.libs.ops==21.3; python_version >= "3.5"
genie.libs.parser==21.3; python_version >= "3.5"
genie.libs.sdk==21.3; python_version >= "3.5"
genie==21.3.1; python_version >= "3.5"
h11==0.12.0; python_version >= "3.6"
httpcore==0.12.3; python_version >= "3.6"
httpx==0.17.1; python_version >= "3.6"
idna==2.10; python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.5.0"
ipykernel==5.5.3; python_version >= "3.6"
ipython-genutils==0.2.0; python_version >= "3.7"
ipython==7.22.0; python_version >= "3.7"
ipywidgets==7.6.3
jedi==0.18.0; python_version >= "3.7"
jinja2==2.11.3; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
jsonpickle==2.0.0; python_version >= "3.5"
jsonschema==3.2.0; python_version >= "3.5"
junit-xml==1.9; python_version >= "3.5"
jupyter-client==6.2.0; python_full_version >= "3.6.1" and python_version >= "3.6"
jupyter-console==6.4.0; python_version >= "3.6"
jupyter-core==4.7.1; python_full_version >= "3.6.1" and python_version >= "3.6"
jupyter==1.0.0
jupyterlab-pygments==0.1.2; python_version >= "3.6"
jupyterlab-widgets==1.0.0; python_version >= "3.6"
kiwisolver==1.3.1; python_version >= "3.7"
lxml==4.6.3; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
markupsafe==1.1.1; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
matplotlib==3.4.1; python_version >= "3.7"
mistune==0.8.4; python_version >= "3.6"
multidict==5.1.0; python_version >= "3.6"
mypy-extensions==0.4.3; python_version >= "3.6" and python_version < "4.0"
nbclient==0.5.3; python_full_version >= "3.6.1" and python_version >= "3.6"
nbconvert==6.0.7; python_version >= "3.6"
nbformat==5.1.3; python_full_version >= "3.6.1" and python_version >= "3.6"
nest-asyncio==1.5.1; python_full_version >= "3.6.1" and python_version >= "3.6"
netaddr==0.8.0; python_version >= "3.5"
networkx==2.5.1; python_version >= "3.6"
nornir-jinja2==0.1.2; python_version >= "3.6" and python_version < "4.0"
nornir-scrapli @ git+https://github.com/scrapli/nornir_scrapli@develop ; python_version >= "3.6"
nornir-utils==0.1.2; python_version >= "3.6" and python_version < "4.0"
nornir==3.1.0; python_version >= "3.6" and python_version < "4.0"
notebook==6.3.0; python_version >= "3.6"
ntc-templates==2.0.0; python_version >= "3.6" and python_version < "4.0"
numpy==1.20.2; python_version >= "3.7"
packaging==20.9; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pandocfilters==1.4.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
paramiko==2.7.2; python_version >= "3.6"
parso==0.8.2; python_version >= "3.7"
pathspec==0.8.1; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.5"
pexpect==4.8.0; sys_platform != "win32" and python_version >= "3.7"
pickleshare==0.7.5; python_version >= "3.7"
pillow==8.2.0; python_version >= "3.7"
prettytable==2.1.0; python_version >= "3.6"
prometheus-client==0.10.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
prompt-toolkit==3.0.18; python_full_version >= "3.6.1" and python_version >= "3.7"
psutil==5.8.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.5"
ptyprocess==0.7.0; os_name != "nt" and python_version >= "3.7" and sys_platform != "win32"
py==1.10.0; python_version >= "3.6" and python_full_version < "3.0.0" and implementation_name == "pypy" or implementation_name == "pypy" and python_version >= "3.6" and python_full_version >= "3.4.0"
pyats.aereport==21.3; python_version >= "3.5"
pyats.aetest==21.3; python_version >= "3.5"
pyats.async==21.3; python_version >= "3.5"
pyats.connections==21.3; python_version >= "3.5"
pyats.datastructures==21.3; python_version >= "3.5"
pyats.easypy==21.3; python_version >= "3.5"
pyats.kleenex==21.3; python_version >= "3.5"
pyats.log==21.3; python_version >= "3.5"
pyats.reporter==21.3; python_version >= "3.5"
pyats.results==21.3; python_version >= "3.5"
pyats.tcl==21.3; python_version >= "3.5"
pyats.topology==21.3; python_version >= "3.5"
pyats.utils==21.3; python_version >= "3.5"
pyats==21.3; python_version >= "3.5"
pycparser==2.20; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pyftpdlib==1.5.6; python_version >= "3.5"
pygments==2.8.1; python_version >= "3.7"
pynacl==1.4.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.4.0"
pyparsing==2.4.7; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
pyrsistent==0.17.3; python_version >= "3.5"
python-dateutil==2.8.1; python_full_version >= "3.6.1" and python_version >= "3.7"
python-engineio==3.13.2; python_version >= "3.5"
python-socketio==4.6.0; python_version >= "3.5"
pywin32==300; sys_platform == "win32" and python_version >= "3.6"
pywinpty==0.5.7; os_name == "nt" and python_version >= "3.6"
pyyaml==5.4.1; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
pyzmq==22.0.3; python_full_version >= "3.6.1" and python_version >= "3.6"
qtconsole==5.0.3; python_version >= "3.6"
qtpy==1.9.0; python_version >= "3.6"
requests==2.25.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
rfc3986==1.4.0; python_version >= "3.6"
ruamel.yaml.clib==0.2.2; platform_python_implementation == "CPython" and python_version < "3.10" and python_version >= "3.6"
ruamel.yaml==0.16.13
scrapli-cfg @ git+https://github.com/scrapli/scrapli_cfg.git@main ; python_version >= "3.6"
scrapli-community==2021.1.30; python_version >= "3.6"
scrapli-netconf==2021.1.30; python_version >= "3.6"
scrapli==2021.7.30a1; python_version >= "3.6"
send2trash==1.5.0; python_version >= "3.6"
six==1.15.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.4.0"
sniffio==1.2.0; python_version >= "3.6"
ssh2-python==0.26.0; python_version >= "3.6"
terminado==0.9.4; python_version >= "3.6"
testpath==0.4.4; python_version >= "3.6"
textfsm==1.1.0
tftpy==0.8.0; python_version >= "3.5"
tornado==6.1; python_full_version >= "3.6.1" and python_version >= "3.6"
tqdm==4.60.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.5"
traitlets==5.0.5; python_full_version >= "3.6.1" and python_version >= "3.7"
typing-extensions==3.7.4.3; python_version >= "3.6" and python_version < "4.0"
unicon.plugins==21.3; python_version >= "3.5"
unicon==21.3; python_version >= "3.5"
urllib3==1.26.4; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4" and python_version >= "3.5"
wcwidth==0.2.5; python_full_version >= "3.6.1" and python_version >= "3.6"
webencodings==0.5.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
widgetsnbextension==3.5.1
xmltodict==0.12.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.5"
yamllint==1.26.1; python_version >= "3.5"
yarl==1.6.3; python_version >= "3.6"
